@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;700;800 & family= Open+Sans:ital, wght@0,300;0,500;0,800;1,500 & display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border: 2px solid red;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
  color: #212121;
}

html {
  border: 2px solid green;
}

.btn {
  background-color: #FFB600;
  color: #fff;
  padding: 10px;
  font-weight: 900;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.btn:hover {
  background-color: #272d33;
  color: #FFB600;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn--dark {
  background-color: #212121;
  color: #fff;
  padding: 10px;
  font-weight: 900;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.btn--dark:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.align-btn {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 70px;
  height: 70px;
  outline: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  color: white;
  transition: all 0.5s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #FFB600;
}

.header .header__sociallink {
  background-color: #EBEBEB;
}
.header .header__sociallink a {
  text-decoration: none;
  color: #212121;
  margin: 10px;
}
.header .header__logo img {
  width: 15vw;
  height: auto;
}
@media (max-width: 768px) {
  .header .header__logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.header__citation {
  background-color: #FFB600;
  height: 14vh;
  margin: 0 auto;
}
@media (min-width: 200px) {
  .header__citation {
    text-align: center;
  }
}
.header__citation h2 {
  font-weight: 900;
  font-size: 1rem;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar {
  background-color: #272d33;
}
.navbar a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
}
.navbar a:hover {
  color: #FFB600;
}
.navbar .dropdown-menu {
  background: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-top: 2px solid #FFB600;
  padding: 15px;
  position: absolute;
  top: 43px;
}
.navbar .dropdown-item {
  color: #555;
}
.navbar .dropdown-item:hover {
  background-color: transparent;
}

.aboutUs__left {
  border: 2px solid grey;
}

.aboutUs__group {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  border: 1px solid red;
  margin-bottom: 10px;
}
.aboutUs__group i {
  font-size: 40px;
  color: #FFB600;
  margin-right: 10px;
}
.aboutUs__group p {
  font-weight: 600;
  line-height: 2;
}

.accordion .accordion-button {
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 0.9rem;
}
.accordion .accordion-button:not(.collapsed) {
  color: #FFB600;
  background-color: transparent;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion .accordion-collapse {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.3);
  border-left: 0.1px solid rgba(0, 0, 0, 0.3);
  border-right: 0.1px solid rgba(0, 0, 0, 0.3);
}

.skill {
  color: red;
}

.skill__container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.skill__container i {
  color: #FFB600;
  font-size: 2.5rem;
  text-align: center;
}
.skill__container .skill__num {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
.skill__container .skill__text {
  color: #FFB600;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
}

.OurServices__group {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.OurServices__group h3 {
  font-size: 1rem;
  font-weight: 600;
}
.OurServices__group h3:hover {
  color: #FFB600;
  cursor: pointer;
}
.OurServices__group i {
  font-size: 5rem;
  color: #FFB600;
  margin-right: 10px;
}
.OurServices__group p {
  font-weight: 300;
  line-height: 1.5;
  color: #555;
}

.OurServices__img img {
  width: 400px;
  height: auto;
}
@media (max-width: 200px) {
  .OurServices__img {
    width: 400rem;
    border: 2px solid red;
  }
}

.recentProjet {
  margin: 100px auto;
  max-width: 1100px;
}

nav .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
  border: 2px solid #FFB600;
}

nav .items .item {
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

nav .items .active,
nav .items .item:hover {
  color: #fff;
  background: #FFB600;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.gallery .image {
  width: 33.3333333333%;
  position: relative;
}

.gallery .image.hide {
  display: none;
}

.gallery .image.show {
  display: block;
  animation: animate 0.4s ease;
  -webkit-animation: animate 0.4s ease;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.gallery .image:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 600px;
  border: 2px solid red;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -moz-transform: translate(-50%, -50%) scale(0.9);
  -ms-transform: translate(-50%, -50%) scale(0.9);
  -o-transform: translate(-50%, -50%) scale(0.9);
  padding: 0 5px 5px 5px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.preview-box .details {
  display: flex;
  align-items: center;
  padding: 13px 15px 13px 10px;
  justify-content: space-between;
}

.preview-box .details .title {
  display: flex;
  font-weight: 400;
  font-size: 18px;
}

.details .title p {
  margin-left: 5px;
  font-weight: 500;
}

.details .icon {
  color: #ff0000;
  font-style: 22px;
  cursor: pointer;
}

.preview-box .image-box {
  display: flex;
  width: 100%;
}

.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
}

.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.shadow.show {
  display: block;
}

@media (max-width: 1000px) {
  .gallery .image {
    width: 33.3333333333%;
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .gallery .image {
    width: 100%;
  }
}
.image:hover .gallery__hover {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  color: #fff;
  z-index: 3;
}

.gallery__hover {
  position: absolute;
  top: 70px;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 0;
  left: 10px;
}
.gallery__hover h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.gallery__hover h3:hover {
  color: #FFB600;
}
.gallery__hover .btn {
  background-color: #FFB600;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 200;
  color: black;
}

.recentProjet__btn {
  text-align: center;
}
.recentProjet__btn a {
  outline: 0;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-weight: 600;
}

.header {
  border: 3px solid yellow;
}

.aboutUs {
  border: 3px solid grey;
}

.skillTest {
  border: 3px solid orange;
}

.OurServices {
  border: 3px solid purple;
}

.recentProjet {
  border: 3px solid rgb(0, 30, 128);
}

/*# sourceMappingURL=main.css.map */
