// COLORS
$color--primary-yellow:#FFB600;
$color--primary-dark:#272d33;

$color--secondary-dark: #23282D;
$color--text-light:#555;
$color--text-dark: #212121;
$color--grey:#F9F9F9;

// FONT
$default-font-size: 1.6rem;