// ABOUT US SECTION
.aboutUs__left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-between; 
}
.aboutUs__group {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
   
    i{
        font-size: 40px;
        color: $color--primary-yellow;
        margin-right: 10px;
    }
    p{
        font-weight: 600;
        line-height: 2;
    }

}
.accordion{
    .accordion-button{
        border: 0.1px solid rgba(0,0,0,0.3);
        font-weight: 600;
        font-size: .9rem;
    }
    .accordion-button:not(.collapsed) {
        color: $color--primary-yellow;
        background-color: transparent;
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
        
    }
    .accordion-collapse{
        border-bottom: 0.1px solid rgba(0,0,0,0.3);
        border-left: 0.1px solid rgba(0,0,0,0.3);
        border-right: 0.1px solid rgba(0,0,0,0.3);
    }
}

