// ABOUT US SECTION
.aboutUs__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    
}
.aboutUs__group {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
       
   
    i{
        font-size: 3rem;
        color: $color--primary-yellow;
        margin-right: 10px;
    }
    p{
        font-weight: 600;
        line-height: 2;
    }
    @media (min-width:$breakpoint-phone) {
        max-width: 200px;

        i{
            font-size: 10vw;
        }
       
    }
}